
body{
    font-family: Arial, Helvetica, sans-serif;
   margin: 0; 
   
}

#first {
 background-color:#000B58;
 text-align: center;
}

a{color: white;
margin: 15px;
cursor:pointer}

.gallery{
    display: block;
    margin-left: 100px;
    margin-right: 50px;
     }

fieldset{
    border: 5px solid #006A67;
    border-radius: 20px;
    padding: 10px;
margin-bottom: 40px;}

    footer{
        background-color: #FFF4B7;
        padding: 10px;
        text-align: center;
        margin: 0;
}